/* navbar style  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 150px;
}

.logo img {
  height: 40px;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-menu li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}


.mobile-cart {
  display: none;
}

.mobile-cart a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* ✅ Banner Section */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 65px 0 235px;
  gap: 40px;
}

.banner-content {
  flex: 1;

}

.banner-content h1 {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 20px;
}

.banner-content p {
  font-size: 22px;
  color: #000000;
}

.highlight {
  color: #E95A08;
}

.highlight-flower {
  color: #E95A08;
  display: block;
}

.banner-image {
  flex: 1;
}

.banner-image img {
  max-width: 100%;
  height: auto;
}

/*  slants section */
.plants-section {
  padding: 80px 150px;
  background-color: #f8fafc;
  text-align: center;
}

.plants-section h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: bold;
}

.plants-section .highlight {
  color: #E95A08;

}

.plants-section .subtitle {
  font-size: 22px;
  color: #555;
  max-width: 888px;
  margin: 0 auto 50px;
}

.plants-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  justify-content: center;
}

.plant-card {
  background-color: #FFFFFF;
  height: 484.94px;
  width: 270px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.plant-card img {
  width: 100%;
  height: 322.94px;
}

.plant-card h3 {
  font-size: 22px;
  font-weight: 500;
  color: #111;
}

.plant-card .price {
  font-size: 20px;
  font-weight: bold;
  color: #111;
}

.add-to-cart {
  width: 100%;
  height: 50px;
  background-color: #E95A08;
  color: #FFFFFF;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover {
  background-color: #E95A08;
}

.plants-lover-section {
  background-color: #f5f6fa;
  padding: 100px 20px;
  max-width: 1140px;
  margin: 0 auto;

}

.plants-lover-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 60px;
  flex-wrap: wrap;
}

.lover-image-wrapper {
  position: relative;
  flex: 1;
  min-width: 300px;
}

.lover-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.trusted-badge {
  position: absolute;
  top: -150px;
  left: 100%;
  transform: translateX(-55%);
  width: 300px;

}

.lover-content {
  flex: 1;
  min-width: 540px;
}

.lover-content h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000 100%;
}

.lover-content p {
  margin-bottom: 15px;
  color: #555;
  line-height: 1.6;
  font-size: 22px;
  position: relative;
  padding-left: 20px;
}

.lover-content p::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #b6b7c0;
  font-size: 20px;
  line-height: 1;
  top: 2px;
}

/* mobile responsive */
@media (max-width: 768px) {

  /* navbar */
  .navbar {
    padding: 13px 16px;
  }

  .nav-menu {
    display: none;
  }

  .mobile-cart {
    display: block;
  }

  .banner {
    flex-direction: column;
    padding: 40px 16px;
    text-align: left;
  }

  .banner-image {
    order: -1;
  }

  .banner-content {
    width: 100%;
  }

  /*banner */
  .banner {
    flex-direction: column;
    padding: 40px 16px;
    text-align: left;
  }

  .banner-image {
    order: -1;
  }

  .banner-content {
    width: 100%;
  }

  /* plants section */
  .plants-section {
    padding: 40px 20px;
  }


  .plants-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .plant-card {
    width: 100%;
  }

  .plants-lover-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .lover-content {
    min-width: 100%;
  }

  .lover-content h2 {
    font-size: 36px;
    text-align: left;
  }


  .lover-content p {
    font-size: 18px;
    text-align: left;
  }

  .trusted-badge {
    display: none;
  }

  .plants-lover-section {
    padding: 60px 20px;
  }
}